@page
@model BookApp.Pages.book.IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].bookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].bookAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].categoryname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].subcategoryname)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bookTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bookAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoryname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.subcategoryname)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
